* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(245, 255, 205);
}

.formmain {
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background: white;
}

.headerContainer {
    text-align: center;
    background: rgb(122, 122, 189);
    color: white;
    padding: 10px;
    border-radius: 6px;
}

div {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 16px;
}
input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

error-output {
    font-size: 12px;
    color: red;
}

input:focus {
    outline: none;
    box-shadow: 0 0 4px #7a7abd;
}

button {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

error-output {
    font-size: 10px;
    color: red;
    margin-top: 4px;
}

.salary-output {
    margin-top: 5px;
    font-weight: bold;
}

/* ---------- RESPONSIVE ---------- */
@media (min-width: 600px) {
    div {
        flex-direction: row;
        align-items: center;
    }

    label {
        width: 35%;
        margin-bottom: 0;
    }

    input {
        width: 65%;
    }

    .error {
        width: 100%;
        margin-left: 35%;
    }

    .btn-container {
        justify-content: center;
    }

    button {
        width: 70%;
    }
}
